.app {
  margin: 30px;
  font-size: 18px;
}

.app__up {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__down {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.up__title {
  font-size: 30px;
  margin: 0 0 20px 0;
}

.up__subtitle {
  font-size: 18px;
}

.down__lives {
  opacity: 0.7;
  margin: 0 0 20px 0;
}

.down__word {
  display: flex;
  margin: 0 0 30px 0;
}

.button__send {
  margin: 30px 0 0 20px;
}

.hint__block {
  position: relative;
  z-index: 1;
}

.hint__button {
  margin: 0 0 20px 0;
}

.button__reload {
  display: flex;
  justify-content: center;
}

.next__button {
  margin: -35px 0 0 175px;
}

.button__start {
  margin: 20px 0 20px 0;
}

.letters__block {
  min-width: 20px;
  margin-left: 5px;
}

.letter__string {
  text-align: center;
  font-size: 30px;
  border-bottom: 2px solid lightgray;
}