.app {
  margin: 30px;
  font-size: 18px;
}

.app__up {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__down {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.up__title {
  font-size: 30px;
  margin: 0 0 20px 0;
}

.up__subtitle {
  font-size: 18px;
}

.down__lives {
  opacity: 0.7;
  margin: 0 0 20px 0;
}

.down__word {
  display: flex;
  margin: 0 0 30px 0;
}

.button__send {
  margin: 0 0 20px 0;
}

.hint__block {
  position: relative;
  z-index: 1;
}

.hint__button {
  margin: 0 0 20px 0;
}

.next__button {
  margin: -35px 0 0 175px;
}

.button__start {
  margin: 20px 0 20px 0;
}

.letters__block {
  margin-left: -40px;
}

.letters__list {
  display: flex;
  justify-content: center;
}

.letters__list li {
  list-style-type: none;
}

.letters__input {
  border: none;
  width: 20px;
  height: 30px;
  border-bottom: 1px solid black;
  margin-right: 2px;
  background: lightgray;
}

.letters__input:focus {
  outline: 0;
  outline-offset: 0;
}